## Installing the connector

In [1]:
!python -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp38-cp38-win_amd64.whl (382 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

### Importing the connector and try to set up a connection

In [8]:
import pymongo

In [10]:
Default_connection_URL = "mongodb://localhost:27017/"
Db_name = "Aditya"

client = pymongo.MongoClient(Default_connection_URL)

database = client[Db_name]
#client

Default connection url for local computers is "mongodb://localhost:27017/".

#### We try to create a MongoClient using pymongo

Untill we create atleast a single collection in the databse, it won't be shown on the local system.

In [12]:
client.list_database_names()

['adipali', 'admin', 'config', 'local']

### Insert a data in the database

Record is the data in the form of dictionary while database contains a lot of collection. Collection is a group of records in a single space.

In [13]:
collection_name = "Aditya_details"
collection = database[collection_name]

In [14]:
record = {
    'Name': "Aditya",
    'Surname': "Paliwal",
    'Date': "21/03/2000"
}

collection.insert_one(record)

We can see that an id has created by the mongodb by the name '_id'. We can overwrite this id by giving our own id.

Note: '_id' has to be unique at every instance.

In [16]:
record = {
    '_id': 2,
    'Name': "Aditya",
    'Surname': "Paliwal",
    'Date': "21/03/2000"
}

collection.insert_one(record)

### To find records we use find_one function

It can take query as argument.

'find' function gives an iterable which could used ot access all the records.

In [17]:
collection.find_one()

{'_id': ObjectId('63d018edfb8fa97a988af9c1'),
 'Name': 'Aditya',
 'Surname': 'Paliwal',
 'Date': '21/03/2000'}

In [18]:
query1 = {"_id": 2}

result1 = collection.find(query1)
for data in result1:
    print(data)

{'_id': 2, 'Name': 'Aditya', 'Surname': 'Paliwal', 'Date': '21/03/2000'}

### IMP Points

1. We have many function like delete_one, delete, delete_many to delete any record with or without query.

2. collections.drop() can be used to drop the whole collection.

3. We have many function like update_one, update, update_many to update any record. Arguments (old_record, new_record)