# Installing the Connector

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\asus\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

## Using the connector to create an instance

In [2]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', user = 'root', passwd = 'root', use_pure = True)
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('my_page',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('students',), ('sys',), ('world',)]

### mydb is a connection instance.
Parameters are:
1. hostName: This means the host of the connection. It can be a cloud link or now as we are using 'localhost'
2. username: It is given by every user and different user might have access to different databases.
3. passwd: A user always have a password to access the databases.

### cursor is a pointer that helps us execute the queries and point to an iterable object.

1. execute(): This function helps us in executing the queries. The query is given in the form of string. It returns NONEType.

2. fetchall(): It is used to fetch the response of the query.


### If their exists an error, we need to close the instance.

1. close(): This function is used to close the instance of the connection. It returns nothing.

## Let's try to execute a few queries.

In [4]:
try:
    # Let's create a database named "aditya"
    query = "Create database aditya"
    cursor.execute(query)
    print("Database created")
except Exception as e:
    mydb.close()
    print(str(e))

Database created

In [6]:
try:
    # checking whether the database is really created or not.
    cursor.execute("Show Databases")
    print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(str(e))

[('aditya',), ('information_schema',), ('my_page',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('students',), ('sys',), ('world',)]

In [7]:
mydb.close()

## We have worked on queries where we create a database. But how to access a database.
To access the database, we need to create an object of connection(mydb) using parameter database and giving the specific database name.

In [41]:
try:
    mydb = connection.connect(host = 'localhost', user = 'root', passwd = 'root', database = 'aditya', use_pure = True)
    
    query = "SHOW TABLES"
    # We currently do not have any tables and thus we should get an empty set.
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('studentdetails',)]

### To check whether the connection is still active we can use function 'is_connected'.
eg. mydb.is_connected()
It returns boolean value.

In [42]:
# Query to create a table
query = "Create table studentdetails (studentid INT(10), firstname VARCHAR(60), lastname VARCHAR(60), registerationDate DATE, Class VARCHAR(60), Section VARCHAR(60))"

In [43]:
try:
    cursor.execute(query)
    cursor.execute("Show tables")
    print(cursor.fetchall())
except Exception as e:
    #mydb.close()
    print(str(e))

1050 (42S01): Table 'studentdetails' already exists

In [44]:
# Lets insert a row into the table
query = "INSERT INTO studentdetails VALUES (19938, 'Aditya', 'Paliwal', '2000-03-21', '10th', 'B')"

In [45]:
try:
    cursor.execute(query)
    query = "SELECT * FROM studentdetails"
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(str(e))

[(19938, 'Aditya', 'Paliwal', datetime.date(2000, 3, 21), '10th', 'B')]

## Commit

This means checking in the data that we have inserted. It works on the concept of TRANSACTIONS learnt in DBMS.

In [46]:
mydb.commit()

In [47]:
query = "INSERT INTO studentdetails VALUES (19938, 'Aditya', 'Paliwal', '2000-03-21', '10th', 'B')"
try:
    for i in range(15):
        cursor.execute(query)
except Exception as e:
    mydb.close()
    print(str(e))

## How to show the data in the form of tables

For this we will be using the pandas library. It will be helpful in showing the data in the form of tables.

In [48]:
import pandas as pd
df1 = pd.read_sql("SELECT * FROM aditya.studentdetails", mydb)
df1.head()

   studentid firstname lastname registerationDate Class Section
0      19938    Aditya  Paliwal        2000-03-21  10th       B
1      19938    Aditya  Paliwal        2000-03-21  10th       B
2      19938    Aditya  Paliwal        2000-03-21  10th       B
3      19938    Aditya  Paliwal        2000-03-21  10th       B
4      19938    Aditya  Paliwal        2000-03-21  10th       B